.project-title {
    border: none;
    font-size: 45px;
}

.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.laptop {
    width: 700px;
    height: 500px;
}
