.container {
    height: 100%;
  
    max-width: 1300px; /* Максимальна ширина 1200px */
    /* min-width: 300px; Мінімальна ширина 300px */
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    position: relative;
    padding: 1rem;
}
/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
    .container {
        min-width: 310px;
        height: 100%;
    }
  }
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 481px) {
    .container {
        max-width: 500px;
    }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width: 641px) {
    .container {
        max-width: 890px;
        min-height: 100vh;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 961px) {
    .container {
        min-height: 100dvh;
        max-width: 910px;
    }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
    .container {
          height: 100%;

        max-width: 1200px;
    }
}
/* hi-res laptops and desktops */   
@media (min-width: 1281px) {
    .container {
        max-width: 1210px;
    }
}
/*veryhuge desktops*/
@media (min-width: 1400px) {
    .container {
        max-width: 1300px;
    }
}