.projects-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media (min-width:320px) {
    .projects-container {
        min-width: 310px;
    }
  }

  /* @media (min-width: 961px) {
    .projects-container {
        gap: px;
    }
} */
