    .header {
        position: fixed;
        top: 0; 
        left: 0;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        padding: 0 1rem;
        align-items: center;
        z-index: 4;
    }

.header a {
    display: flex;
    align-items: center;
}
.logo:hover {
    cursor: pointer;
    
}

.hamburger {
    
   cursor: pointer;
   position: relative;
    background: transparent;
   border: none;
   display: flex;
   align-items: center;
   color: var(--white-color);
}



@media (min-width:320px) {
    .header {
        height: 70px;
        background-color: rgba(12, 12, 12, 0.77);
    }
  .header  img {
    height: 57px;
  }
 

}
