.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container {
    margin: 0 auto;
    width: 1200px; 
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.footer-profile > div {
    margin-bottom: 25px;
}

.footer-profile p {
    font-size: 16px;
}

.social-icons {
    display: flex;
    gap: 9px;
}

.social-icons > img {
    width: 36px;
    height: 36px;
}

.footer-copyright {
   display: block;
   text-align: center;
    padding: 34px 0px;

}

.button {
    font-size: 17px;
    color: var(--white-color);
    padding: 5px 42px;
    background-color: transparent;
    border: none;
    border: 2px solid #AE1E78;
    margin-top: 15px;
}