.skill {
    width: 75.92px;
    height: 112.46px;
    /* width: 75.92px;
    height: 112.46px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.skill > img {
    height: 76%;
    width: 90%;
}

.skill:hover {
    transform: scale(1.16); /* Збільшення елемента при наведенні */
}

@media (min-width:320px) {
    .skill {
        width: 65.92px;
        height: 102.46px;
    }
    .skill > img {
        height: 70%;
        width: 100%;
    }
  }

  @media (min-width: 641px) {
    .skill {
        width: 61.92px;
        height: 96.46px;
    }
}