.skills-article {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16.9px;
    font-size: 12px;
    font-weight: 500;
}

.skills > img:last-child {
    gap: 0px ;
}

