.skill {
    width: 75.92px;
    height: 112.46px;
    /* width: 75.92px;
    height: 112.46px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.skill > img {
    height: 76%;
    width: 90%;
}

.skill:hover {
    transform: scale(1.16); /* Збільшення елемента при наведенні */
}

