.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    height:  550px;
    gap: 15px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 63px;
    background: #121212;
    border: 3px solid #A60A40;
    border-left: none;
    
}

.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form-input > label {
    font-size: 17px;
}

.form-input > input, .form-input > textarea {
    color: var(--white-color);
    background-color: rgba(32, 28, 32, 0.8);
    border: none;
    border-radius: 5px;
    padding: 13px;
    outline: none;
}

.form-input > textarea {
    font-family: "Poppins", "Roboto Slab", serif;
    resize: none; 
}

.form-image {
   height: 550px;
    border: 3px solid #A60A40;
    
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.button {
    height: 48px;
    width: 260px;
    border: none;
    border-radius: 5px;
    background-color:  #d8494bd3;
    color: white;
    margin-top: 20px;
    align-self: flex-end;
    font-size: 17px;
    cursor: pointer;
}

.response-form {
  font-size: 27px;
  font-weight: 600;
  text-align: center;
} 

/* .burger.burger-3::before,
.burger.burger-3::after {
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.burger.burger-3.is-closed::before,
.burger.burger-3.is-closed::after {
  width: 20px;
}

.burger.burger-3.is-closed::before {
  transform: rotate(-45deg) translate(-4px, -2px);
}

.burger.burger-3.is-closed::after {
  transform: rotate(45deg) translate(-4px, 2px);
}
 */
